body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
  }

  #root {
    position: relative;
    height: 100vh;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  #open-overlay-btn {
    position: absolute;
    cursor: move;
  }

  .overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  .overlay-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
    position: absolute;
    pointer-events: all;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .region {
    margin-bottom: 15px;
  }

  .region h3 {
    margin: 0 0 10px 0;
  }

  .region ul {
    list-style-type: none;
    padding: 0;
  }

  .region li {
    margin-bottom: 5px;
  }
